.outer-container {
  width: 600px;
  height: 600px;
  border: solid 1px black;
  background-color: #f7f7f7;
}

.form-main {
  padding: 20px;
}

.form-section {
  border-bottom: solid 1px grey;
}

.form-input {
  display: inline-block;
  margin: 20px;
  padding: 4px;
}

.alert {
  border: solid 3px red;
}

#submit {
  margin: 20px; 
}

h3 {
  border: solid 3px red;
}